<app-my-header name="Модульна контрольна робота №1"></app-my-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <ion-title>Завдання на МК</ion-title>

        Створити окремий компонент для введення даних у форму відповідно до
        варіанту. Форма повинна бути реактивною – 2 балів, якщо форма не
        реактивна – 1 бал Організувати обмін даними між компонентом введення та
        головним застосунком за допомогою декораторів &#64;Input та &#64;Output
        (можна використати лише один з декораторів, не обов’язково
        використовувати обидва) та підключити розроблений компонент до
        застосунку – 2 бали Розробити інтерфейс для виведення результатів – 2
        бали Розробити окремий сервіс для виконання розрахунків відповідно до
        варіанту завдання – 2 бали Написати модульні тести для перевірки
        проведених у сервісах розрахунків – 2 бали. Додаткові бали Розмістити
        розроблений застосунок на хостингу – 2 бали.

        <ion-title>Завдання.</ion-title>
        Розробити сервіс який реалізує клас «матриця дійсних чисел». Клас
        повинен реалізовувати такі операції над матрицями: віднімання заданого
        номером рядка з усіх інших рядків, крім цього рядка. Форма для введення
        повинна спочатку запитати розмірність матриці, після чого сформувати
        відповідну кількість полів введення. Максимальна розмірність – 6 на 6.
      </ion-text>
      <app-mkr1-dinamic-form max_size = "6"></app-mkr1-dinamic-form>
    </ion-card-content>
  </ion-card>
</ion-content>
