<app-my-header name="Лабороторна робота №6"></app-my-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        1. Розробити ієрархію класів відповідно до варіанту завдання(у
        запропоновану у варіанті ієрархію класів можна додавати додаткові класи
        або інтерфейси). Деякі з класів можуть бути абстрактними. 2. Реалізувати
        для ієрархії механізм інтерфейсів, при цьому один з класів повинен
        реалізовувати як мінімум два інтерфейси. 3. Кожен клас з ієрархії класів
        повинен мати не менше двох методів. 4. Розроблена ієрархія повинна
        відповідати основним принципам SOLID та патерну High Cohesion + Low
        Coupling
      </ion-text>
      <ion-text>
        Дана наступна ірархія класів:г Ірашка, продукт, товар, молочний продукт
      </ion-text>

      <ion-button expand="block" (click)="ras()">Розрахунок</ion-button>

      <ion-item *ngFor="let item of result; index as i">
        <ion-text>{{item}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
