<app-my-header name="Лабороторна робота №8"></app-my-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        Завдання по роботі з динамічними реактивними формами:
        <ol>
          <li>
            Розробити компонент який буде вміщувати динамічну реактивну форму
            відповідно до варіанту.
          </li>
          <li>
            Передбачити у формі можливість додавання та видалення певних полів
            під час виконання.
          </li>
          <li>
            Провести валідування ведених у форму значень, як за допомогою списку
            статичних методів класу Validators.
          </li>
          <li>
            Створити сервіси для більш точного валідування ведених даних,
            кількість сервісів не менше двох.
          </li>
          <li>
            Створити модульні тести для перевірки сервісів та функцій для
            валідування
          </li>
        </ol>
        Варіант 9. Список читачів: • Номер читацького. • ПІБ читача. • Адреса. •
        Телефон. • Електрона адреса. Інформаціє, яка додається динамічно: •
        Список прочитаних книг
      </ion-text>
      <app-my-dinamic-form></app-my-dinamic-form>
    </ion-card-content>
  </ion-card>
</ion-content>
